{% extends 'base.html.twig' %}

{% block title %}{{table_row.getFullName()}}{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="../../js/calculateTableRow.js"></script>
{% endblock %}
{% block body %}
    <input type="hidden" id="table_row_id"  value="{{ table_row.id }}">
    <h3>{{table_row.getFullName()}}</h3>
    <a href="{{ path('cl_table_show', {'id': table_row.myTable.id}) }}">powrót do listy tablic</a>
    <br><br>tablica {{ table_row.myNumber }}  {{ table_row.CompoundDescription() }}
    <table class="table">
        <tbody>
            {# <tr>
                <th>Jednostka</th>
                <td>{{ table_row.unit }}</td>
            </tr> #}
            <tr>
                <th>Id</th>
                <td>{{ table_row.id }}</td>
            </tr>
        </tbody>
    </table>
    <div id="div_wyszukaj">
        obmiar
        <input id="input_survey" type="tekst" placeholder="1" size="30">{{ table_row.unit }}
    </div>
</div>
<div id="leftcol">
    <table >
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        {# {% for row in table_row.GenerateValuesForTwigCostTable() %}
            <tr>
                {% for col in row %}
                    <td>{{ col }}</td>
                {% endfor %}
            </tr>
        {% endfor %} #}
        {{ include ('table_row/leftCol/labor.html.twig',{circulations: table_row.labors})}}
        {{ include ('table_row/leftCol/material.html.twig',{circulations: table_row.materials})}}
        {{ include ('table_row/leftCol/equipment.html.twig',{circulations: table_row.equipments})}}
    </table>
</div>
<div id="rightcol">
    druga kolumna

</div>
<div id="footer">
    <a href="{{ path('table_row_edit', {'id': table_row.id}) }}">edit</a>
    {{ include('table_row/_delete_form.html.twig') }}
</div>


{% endblock %}
