{% extends 'base.html.twig' %}

{% block title %}{{table_row.getFullName()}}{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="../../js/calculateTableRow.js"></script>
{% endblock %}
{% block body %}
    <input type="hidden" id="table_row_id"  value="{{ table_row.id }}">
    <h3>{{table_row.getFullName()}}</h3>
    tablica {{ table_row.myNumber }}  {{ table_row.CompoundDescription() }}
    <table class="table">
        <tbody>
            {# <tr>
                <th>Jednostka</th>
                <td>{{ table_row.unit }}</td>
            </tr> #}
            <tr>
                <th>Id</th>
                <td>{{ table_row.id }}</td>
            </tr>
        </tbody>
    </table>
    <div id="div_wyszukaj">
        obmiar
        <input id="input_survey" type="tekst" placeholder="1" size="30">{{ table_row.unit }}
    </div>
</div>
<div id="leftcol">
    <table >
        <thead>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tr>
            <td>--R--</td>
        </tr>
        {% for rob in table_row.labors %}
            <tr>
                <td>{{ rob.getName() }}</td>
                <td>{{ rob.getValue() }}</td>
                <td>{{ rob.getUnit() }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>--M--</td>
        </tr>
        {% for mat in table_row.materials %}
            <tr>
                <td>{{mat.getName()}}</td>
                <td>{{ mat.getValue() }}</td>
                <td>{{ mat.getUnit() }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td>--S--</td>
        </tr>
        {% for equi in table_row.equipments %}
            <tr>
                <td>{{equi.getName()}}</td>
                <td>{{ equi.getValue() }}</td>
                <td>{{ equi.getUnit() }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
<div id="rightcol">
    druga kolumna

</div>
<div id="footer">
    <a href="{{ path('table_row_edit', {'id': table_row.id}) }}">edit</a>
    {{ include('table_row/_delete_form.html.twig') }}
</div>


{% endblock %}
