{{ form_start(form) }}
    {{ form_widget(form) }}
    {# {{ form_row(form.obmiar) }} #}
    {# {{ pozycja_kosztorysowa.Jednostka() }} #}
    
    {# {{ form_row(form.kosztorys) }} #}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
