
{% extends 'base.html.twig' %}

{% block title %}New PozycjaKosztorysowa{% endblock %}

{% block body %}
    <h3>Dodaj pozycję kosztorysową</h3>
    <b>
        {{ pozycja_kosztorysowa.OznaczeniePelne() }}
    </b><br>
    {{ pozycja_kosztorysowa.podstawaNormowa.CompoundDescription() }}
    <br>jednostka: <b>{{ pozycja_kosztorysowa.Jednostka() }}</b>
    {{ include('pozycja_kosztorysowa/_form.html.twig') }}
    <table>
        {{ include ('pozycja_kosztorysowa/kol_koszty/labor.html.twig',{circulations: pozycja_kosztorysowa.podstawaNormowa.labors}) }}
        {{ include ('pozycja_kosztorysowa/kol_koszty/material.html.twig',{circulations: pozycja_kosztorysowa.podstawaNormowa.materials}) }}
        {{ include ('pozycja_kosztorysowa/kol_koszty/equipment.html.twig',{circulations: pozycja_kosztorysowa.podstawaNormowa.equipments}) }}
        {# {{ include ('table_row/leftCol/equipment.html.twig',{circulations: pozycja_kosztorysowa.podstawaNormowa.equipments}) }} #}
        <a href="{{ path('pozycja_kosztorysowa_index') }}">back to list</a>
    </table>
        {% endblock %}

