{% extends "table_row/leftCol/labor.html.twig" %}
{% block koszty %}
{% set price = row.getPriceDivBy100() %}
<td>
    {% if price >= 0.0 %}
    {{ price }} {{ row.jednostkaDlaCenyJEdnostkowej }}
    {% endif %}
</td>
<td>{{ row.naklad }}</td>
<td>{{ row.kosztJednostkowy }}</td>
<td>{{ row.koszt }}</td>
<td></td>
<td></td>
{% endblock %}