

<table id="catalog_list" class="tableCatalogAjax">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for catalog in catalogs %}
        <tr>
            <td>{{ catalog.id }}</td>
            <td>{{ catalog.name }}</td>
            <td>
                {% if kosztorys_id is defined %}
                    <a href="{{ path('catalog_show_przez_kosztorys', {'id': catalog.id, 'kosztorys_id': kosztorys_id}) }}">
                {% else %}
                    <a href="{{ path('catalog_show', {'id': catalog.id}) }}">
                {% endif %}
                    {{ catalog.ShortenDescription(75) }}
                </a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
